<div class="{{options.facets.wrapperClass}}">
  {{#unless noSearch}}
    <div class="form-group {{options.search.wrapperClass}}">
      <div class="input-group">
        {{input type="text" value=_search placeholder=options.search.placeholderText class="form-control" enter=(action "addSearch")}}
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" aria-label="Search" {{action "addSearch"}}>
            <span class="{{options.search.buttonIconClass}}" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  {{/unless}}
  {{#each facets as |facet index|}}
    {{collapsable-facet facet=(mut facet) initOpen=(if index false true) toggleFacet=(action "toggleFacet") options=options.facets}}
  {{/each}}
</div>
<div class="{{options.dataWrapperClass}}">
  {{applied-facets applied=(mut facets) search=(mut search) toggleFacet=(action "toggleFacet") removeSearch=(action 'removeSearch') options=options.applied}}
  {{yield}}
</div>